@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400';

body {
  background-image: url('sonytv.png'), url('worn_dots/worn_dots.png');
  background-repeat: no-repeat, repeat;
  background-size: auto 100vh, auto;
  background-attachment: fixed;
  font-family: "Josefin Sans", Helvetica, sans-serif;
}

.disable {
  display: none;
}

h1, h2 {
  font-size: 60px;
  font-weight: bold;
  color: #000000;
  /*-webkit-text-stroke: 1px black;*/
}

h1 {
  text-align: right;
  margin-right: 40px;
}

h2 {
  margin-top: 40px;
  font-size: 40px;
}

.main {
  padding-bottom: 20px;
  position: relative;
  top: 38vh;
}

#suggestions {
  text-align: center;
}

.input-group {
  position: relative;
}

.form-control {
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 200;
}

.input-group-addon {
  border-radius: 10px;
}

.btn {
  margin: 10px;
}

#results, #play {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: rgba(255, 240, 240, 0.5);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

.gif, .hover {
  display: inline-block;
  text-align: center;
  margin: 10px;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: solid 5px #ffffff;
}

.hover {
  background-color: rgba(204, 204, 204, 0.7);
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  border-radius: 0;
  display: none;
}

.hover p {
  line-height: 200px;
  color: #ffffff;
  font-size: 50px;
}

.gif img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#play {
  margin-top: 30vh;
  height: 250px;
}

#back {
  text-align: left;
  position: absolute;
  top: -25px;
  font-size: 14px;
}

a, a:hover {
  color: #000;
}

#play img {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
